body, .container{
    background-color: #0f0f1b;
    /*background-image: url("https://i-viaplay-com.akamaized.net/viaplay-prod/420/804/1485791623-3bcaf52cefff40e4c9a44e743eeb3b03ad84c73e.jpg?width=1600&height=900"); */ 
}

/*
.container{
      max-width: 1920px;
      width: 80%;
}
*/

p, h1, h2, h3, label {
    color: white;
}

h1{
    font-size: 6rem;
}

#googleLabel {
    font-weight: bold;
    font-size: 1.2rem;
}

.redditPosts, .matches{
    height: 10vh;
    margin-bottom: 1rem;
}

.upvotes{
    background-color:#403e4b;
    height: 100%;
    text-align: center;
}

.redditContent{
    background-color: #2c2c31;
    height: 100%;
    padding: 1rem;
}

h4{
    font-size: 1.3rem;
    padding: 0rem 1rem 0rem 1rem;

    text-decoration: none;
} 

a {
    color: white;

}

a:hover {
    color: rgb(223, 223, 223);
    text-decoration: none;
}

.matches{
    background-color: violet;
}

.matchdate{
    height: 50%;
}

.matchinfo{
    height: 50%;
}